<h2>Template: Básicos</h2>
<hr>
<div class="row">
    <div class="col">
        <form 
            (ngSubmit)="guardar(miFormulario)" 
            #miFormulario="ngForm"
            autocomplete="off"            
            >
            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Producto</label>
                <div class="col-sm-9">
                    <input type="text" ngModel name="producto" 
                        class="form-control" placeholder="Nombre de producto" 
                        id="" minlength="3" required>
                    <span class="form-text text-danger"
                    *ngIf="miFormulario.controls['producto']?.invalid && miFormulario.controls['producto']?.touched">
                        Debe contener al menos 3 letras
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input ngModel name="precio" type="number" class="form-control" placeholder="Precio de producto" id="" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="" class="col-sm-3 col-form-label">Existencias</label>
                <div class="col-sm-9">
                    <input ngModel name="existencias" type="number" class="form-control" placeholder="Existencia de producto" id="" required>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>